<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crypto.currency.filters">

    <application android:theme="@style/Theme.BitcoinMetrics">
        <activity android:name="com.crypto.currency.filters.FilterActivity" />
    </application>

</manifest>